data/*
!data/.gitkeep
!data/intermediate/
!data/intermediate/.gitkeep
data/intermediate/*
!data/intermediate/.gitkeep
!data/derived/
!data/derived/.gitkeep
data/derived/*
!data/derived/.gitkeep
!data/derived/aviationdb/
!data/derived/faa/
output/*
!output/.gitkeep
!output/figures/
!output/figures/.gitkeep
!output/tables/
!output/tables/.gitkeep
!output/aviationdb/
!output/aviationdb/figures/
!output/aviationdb/tables/
!output/faa/
!output/faa/figures/
!output/faa/tables/
literature/

*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.bcf
*.blg
*.run.xml
.DS_Store
.Renviron
.Rhistory
.RData
.Ruserdata
.Rproj.user
