data/*
!data/.gitkeep
!data/intermediate/
!data/intermediate/.gitkeep
data/intermediate/*
!data/intermediate/.gitkeep
!data/derived/
!data/derived/.gitkeep
data/derived/*
!data/derived/.gitkeep
!data/derived/aviationdb/
!data/derived/faa/
data/derived/aviationdb/*
data/derived/faa/*
!data/derived/aviationdb/.gitkeep
!data/derived/faa/.gitkeep
output/*
!output/.gitkeep
literature/

*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.bcf
*.blg
*.run.xml
.DS_Store
.Renviron
.Rhistory
.RData
.Ruserdata
.Rproj.user
